* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black; /* Background color of the entire webpage */
    color: white;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    padding-top: 100px; /* For navbar spacing */
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Certifications Heading */
.heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 20px; /* Keep distance from the top */
    left: 20px; /* Align to the left */
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}

/* Layouts Container */
.layouts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

/* Certificate Grid */
.certificate-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 45%; /* Take half the screen width */
    transition: transform 0.3s, box-shadow 0.3s;
}

.certificate {
    text-align: center;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); */
}

.certificate img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.certificate p {
    margin-top: 15px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}
